In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/Mall_Customers.csv")
df.head()  # Display first 5 rows

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
df.info()         # Data types, nulls
df.describe()     # Summary statistics
df.isnull().sum() # Count missing values
df.duplicated().sum() # Check duplicates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

np.int64(0)

In [ ]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
# Drop rows with missing values (if any)
df.dropna(inplace=True)

In [ ]:
# Fill missing age with median
df['Age'].fillna(df['Age'].median(), inplace=True)

<ipython-input-10-aa6157df51a9>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Gender'] = df['Gender'].str.strip().str.lower()  # convert gender to lowercase and remove spaces

In [ ]:
df['age'] = df['age'].astype(int)

KeyError: 'age'

In [ ]:
df.to_csv("Cleaned_Mall_Customers_50.csv", index=False)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Gender distribution
sns.countplot(x='gender', data=df)
plt.title("Gender Distribution")
plt.show()

ValueError: Could not interpret value `gender` for `x`. An entry with this name does not appear in `data`.